/* AddProperty.scss */

  .main-container {
    margin-top: 41px;
  }
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-select {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn {
    margin-right: 10px;
  }
  
  /* Style the textarea for image URLs */
  #images {
    min-height: 100px;
}

