/* Footer.scss */

.footer {
    width: 1072px;
    height: 167.29px;
    top: 1817px;
    left: 188px;
    background-color: #faf2f2;
    position: absolute;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.smooth {
    color: red;
}

.move-inc {
    color: white;
}
.email-container {
    width: 324px;
    height: 51px;
    border-radius: 23px;
    color: #354d73;
}

.email {
    width: 113px;
    height: 30.97px;
    top: 1902.36px;
    left: 936px;
    opacity: 0.92;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}
