.card-login {
  border: 1px solid #ccc; /* Add a border to the login card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  /* Other existing styles for the login card */
}

.container-login {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
