.property-search {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Make sure it takes at least the full viewport height */
}
.hero-section {
  padding: 4em;
}
.custom-container {
  padding: 10; /* Remove padding */
  border: none; /* Remove border */
}

.row {
  margin-left: 0;
  margin-right: 0;
}